@model IEnumerable<CCPSAPPS.Models.Annonce>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Annonce1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actif)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Annonce1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actif)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.AnnonceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnnonceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnnonceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
