@model CCPSAPPS.Models.Parametre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parametre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taux)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEtudiantsParClasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEtudiantsParClasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantFrais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantFrais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parametre17)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parametre17)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parametre16)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parametre16)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parametre15)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parametre15)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parametre14)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parametre14)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parametre13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parametre13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parametre12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parametre12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parametre11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parametre11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parametre1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parametre1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
