@model CCPSAPPS.Models.SalleDeClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalleDeClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_du_salle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_du_salle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalleDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalleDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_de_Personne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_de_Personne)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.SalleDeclasseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

