@model IEnumerable<CCPSAPPS.Models.SalleDeClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" >Create New </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom_du_salle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalleDescription)
            </th> <th>
                @Html.DisplayNameFor(model => model.Nombre_de_Personne)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_du_salle) 
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.SalleDescription) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_de_Personne) 
            </td>

            <td>
                <a asp-action="Update" asp-route-id="@item.SalleDeclasseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalleDeclasseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalleDeclasseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
