@model CCPSAPPS.Models.Personne

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<p class="text-danger fw-bold">Êtes-vous sûr que vous voulez surprimer les informations de: @Html.DisplayFor(model => model.Prenom)&nbsp; @Html.DisplayFor(model => model.Nom)?</p>
 
<h4 class="fw-bold">NB: En vous cliquant sur le bouton delete tous les informations de: @Html.DisplayFor(model => model.Prenom)&nbsp; @Html.DisplayFor(model => model.Nom) <br />Serons supprimer et vous le pourrez pas les retourner</h4>
<div>
    <br /><br/>
<form asp-action="Delete">
    <input type="hidden" asp-for="PersonneId" />
    <input type="submit" value="Delete" class="btn btn-danger" style="width:10%" />
    <a asp-action="Index" class="btn btn-primary" style="width:10%">CANCEL</a>
</form>
</div>

   @* <h4>Personne</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ddn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ddn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseRue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseRue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseExtra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etudiant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etudiant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminStaff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNameAttribue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNameAttribue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreeParUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreeParUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroRecu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroRecu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtudiantIdPlus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtudiantIdPlus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexe)
        </dd>
    </dl>*@
    
   