@model IEnumerable<CCPSAPPS.Models.Personne>

@{
    ViewData["Title"] = "Index";

    Pager page = new Pager();
    int pageNo = 0;

    if (ViewBag.Page !=null)
    {
        page = ViewBag.Page;
        pageNo = page.CurrentPage;
    }
}

<div>
    <a asp-action="Create" class="btn btn-primary">Inscrit Un Nouveau Etudiant</a>
</div>
<br />
@*<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>*@
<table class="table table-striped table-hover border border-secondary">
    <thead>
        <tr class="table-dark">
            <th scope="row">
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone1)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Ddn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseRue)
            </th>
                    
             <th>
                @Html.DisplayNameFor(model => model.UserNameAttribue)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>                              
                       
            <th></th> <th></th> <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone1)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Ddn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseRue)
            </td>          
           
             <td>
                @Html.DisplayFor(modelItem => item.UserNameAttribue)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
                                             
            <td>
                <a asp-action="Update" class="btn btn-warning" asp-route-id="@item.PersonneId" style="width:100%">Edit</a>                               
            </td>
            <td>               
                <a asp-action="Details"  class="btn btn-info" asp-route-id="@item.PersonneId" style="width:100%">Details</a>                
            </td>
            <td>   
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.PersonneId" style="width:100%">Delete</a>
          </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    @if (page.TotalPages >0)
    {
        <ul class="pagination justify-content-end">

             @if (page.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class ="page-link" asp-controller="Personne" asp-action="Index" asp-route-pg="1">First</a>
                </li>

                 <li class="page-item">
                    <a class ="page-link" asp-controller="Personne" asp-action="Index" asp-route-pg="@(page.CurrentPage)">Previous</a>
                </li>

            }


            @for ( var pge = page.StartPage; pge <= page.EndPage; pge++)
            {   
                 <li class="page-item @(pge == page.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Personne" asp-action="Index" asp-route-pg="@pge">@pge</a>

                </li>
            }
            @if (page.CurrentPage < page.TotalPages)
            {
                <li class="page-item">
                    <a class ="page-link" asp-controller="Personne" asp-action="Index" asp-route-pg="@(page.CurrentPage +1)">Next</a>
                </li>

                 <li class="page-item">
                    <a class ="page-link" asp-controller="Personne" asp-action="Index" asp-route-pg="@(page.TotalPages)">Last</a>
                </li>

            }
        </ul>
    }
</div>

